PROJECT_NAME=changeme
APP_ENVIRONMENT=dev/prod
DJANGO_SETTINGS_MODULE=${PROJECT_NAME}.settings.${APP_ENVIRONMENT}

DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_PORT=5432
DATABASE=postgres

READ_DOT_ENV_FILE=1

DEV_SECRET_KEY=OnePunchMan
DEV_DEBUG=1
DEV_SQL_HOST=devdb
DEV_SQL_PASSWORD=devKamehameha
DEV_SQL_DBNAME=devpostgres
DEV_SQL_USER=devpostgres

POSTGRES_USER=${DEV_SQL_USER}
POSTGRES_PASSWORD=${DEV_SQL_PASSWORD}
POSTGRES_DB=${DEV_SQL_DBNAME}


##### modify the section below for PROD (if needed, in theory all the values should come from .env)
# POSTGRES_USER=${SQL_USER}
# POSTGRES_PASSWORD=${SQL_PASSWORD}
# POSTGRES_DB=${DQL_DBNAME}